@font-face {
  font-family: "vazir";
  src: url("./fonts/Vazir-Regular-FD.eot");
  src: url("./fonts/Vazir-Regular-FD.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Vazir-Regular-FD.svg#Vazir-Regular-FD") format("svg"),
    url("./fonts/Vazir-Regular-FD.woff") format("woff"),
    url("./fonts/Vazir-Regular-FD.woff2") format("woff2");
}

body {
  padding: 0;
  margin: 0;
  font-family: "vazir", sans-serif;
  background-color: #2B2B2B;
  box-sizing: border-box;
  /* background-image: url(image/images\ \(1\).jpg); */
}

#box {
  /* border: 1px solid black; */
  width: 447px;
  height: 235px;
  margin: 100px auto;
  padding: 50px;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 0px ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#boxInput {
  border: none;
  display: flex;
  margin: 40px auto;
  gap: 6px;
}

#boxInput input {
  opacity: 0;
  position: absolute;
  width: 100%;
}

input:focus {
  outline: none;
  /* border-bottom: rgb(35, 11, 141); */
  color: gray;
  /* box-shadow: ; */
}

#click-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#click-buttom button {
  width: 150px;
  height: 40px;
  color: white;
  background-color: #2B2B2B;
  border: none;
  border-radius: 38px;
  box-shadow: 0 0 8px 1px grey;
  font-family: "vazir", sans-serif;
  cursor: pointer;



}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;

}

#box i {
  font-size: 20px;

}

.otp {
  width: 30px;
  height: 30px;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: larger;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

.otp.active::after {
  content: "|";
  animation: blink .9s infinite;
}